.sticky-inner-wrapper {
  background-color: white;
  color: black;
}

.config-inputs {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 1rem;
  justify-content: space-around;
}

.config-inputs input {
  text-align: center;
}

.diff-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 3px 0px;
}

.diff-content > div {
  margin-right: 5px;
}

.quick-diffs {
  display: flex;
  flex-flow: row wrap;
}

.diff-option {
  margin-right: .5rem;
  cursor: pointer;
}

.diff-option:hover {
  color: white;
}
