.sticky-outer-wrapper.active
  .sticky-inner-wrapper
    border-bottom 1px solid gray
    box-shadow: 0 10px 20px rgba(0,0,0,0.19)

.sticky-inner-wrapper
  background-color white
  padding 10px
  color black

.config-inputs
  display flex
  flex-flow row nowrap
  flex-grow 1
  justify-content space-around

.config-inputs input
  text-align center

.diff-content
  display flex
  flex-flow row wrap
  justify-content flex-start
  margin 3px 0px

.diff-content > div
  margin-right 5px

.quick-diffs
  display flex
  flex-flow row wrap

.diff-option
  margin-right .5rem
  cursor pointer

.view-actions
  padding 5px 0px
  display flex
  flex-flow row wrap
  >*
    margin-right 5px

.diff
  background-color white
  padding-bottom 50px

.diff-optionhover
  color white
