
.diff-meta-view
  display flex
  align-items flex-start
  background-color white
  padding-bottom 50px
  flex-flow column nowrap

.job-meta
  width 100%
  display flex
  border-bottom 1px solid #e8e8e8
  justify-content space-between
  .left
    width 33vw
    word-break break-word
  .right
    width 33vw
    word-break break-word
  .bi-label
    width 33vw
    font-weight 200
