
.diff-meta-view
  display flex
  align-items flex-start
  background-color white
  padding-bottom 50px
  flex-flow column nowrap

.job-meta
  width 100%
  display flex
  border-bottom 1px solid #e8e8e8
  justify-content space-between
  .left
    width 38vw
    //word-break break-word
  .right
    width 38vw
    //word-break break-word
  .bi-label
    text-transform: capitalize
    width 23vw
    padding-left 20px
    display flex
    align-items center
    font-weight 200

.hidden
  visibility hidden

.reddy
  border-bottom 1px solid #F7CFCF !important
  > 
    .bi-label
      color red

.filter-input
  width 100%
  padding 5px
  border-radius 5px

.step-list-item
  display list-item
  list-style-type decimal

.pre
  display flex !important
  padding 5px  !important
  margin 0 0 0px !important
  font-size 1.5rem !important
  line-height 2 !important
  word-break normal !important
  word-wrap normal !important
  color black !important
  background-color white !important
  border none !important
  border-radius unset !important