.bi-navbar {
  display: flex;
  padding: 10px 10px;
  margin-bottom: 7px;
  flex-flow: row wrap;
  background-color: green;
  color: white;
  justify-content: flex-start;
  align-items: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 40px;
}
