.recent-build-diffs {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.quick-diff-option {
  cursor: pointer;
}

.quick-diff-option:hover {
  color: green;
}
